.label1{
    color: white;
}
#movie-form{
    margin-top: 50px;
}
.movie-btns{
    display: flex;
    gap: 15px;
}
.input2{
    background-color: #0000007e;
    color: white;
    border: none;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
}
.input2:focus{
    background-color: #0000007e;
    color: white;
}
.input2::placeholder{
    color: grey;
}

